.text-contact{
    display: flex;
    flex-direction: column;
   text-align: center;
   margin-top: 8%;
   margin-bottom: 10%;
    justify-content: center;
    font-size: medium;
    text-shadow: 5px 5px 5px #0f0e0e;
 }